* { margin: 0; padding: 0; box-sizing: border-box; font-size: xx-large; }
body { font: 24px Helvetica, Arial; }
#msgForm { 
  background: #000; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
  display: flex; }
#tagForm { 
  background: #000; 
  position: fixed; 
  top: 0; 
  width: 100%;
  display: flex; }
form input { 
  height: 9vh;
  border: 0; 
  padding: 10px; 
  width: 75vw; }
form button { 
  width: 25vw; 
  background: rgb(224, 224, 224); 
  border: none; 
  padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; margin-top: 40px;}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-top: 9vh; margin-bottom: 9vh; }