body { 
  font: 24px Helvetica, Arial;
  background-color: #e9e9e9 !important; }
/* #bodyMsg {
  margin-top: 10vh;} */
#hashtagsList { 
  list-style: none;
  line-height: 2;
  margin-left: 10%; }
form button { 
  width: auto;
  background: rgb(224, 224, 224); 
  border: none; 
  padding: 10px; }
#footer {
  bottom: 0;
  position: fixed;}
#tagForm {
  position: fixed;
  top: 0;
}
#bodyMsg {
  margin-top: 6vh;
  padding-bottom: 6vh;
  z-index: -10;
  position: relative;
}
/* #msg {
  color: black;
  width: 40vw; 
  display: initial;} */
#messages { 
  list-style-type: none; 
  margin: 20px;
}
.square {
  border-radius: 0 !important;
}
.popover {
  margin: 5px;
}
.modal-content {
  height: 94vh;
}