* { margin: 0; padding: 0; box-sizing: border-box; font-size: medium; }
body { font: 24px Helvetica, Arial; }
#msgForm { 
  position: fixed; 
  bottom: 0; 
  width: 100%;
  display: flex; }
#tagForm { 
  padding-bottom: 1vh;
  top: 0; 
  width: 100%;
  position: fixed;
  display: flex; }
form input { 
  border: 0; 
  padding: 10px; }
#pseudo { 
  width: 40vw; }
#hashTag { 
  width: 40vw; }
form button { 
  width: inherit;
  background: rgb(224, 224, 224); 
  border: none; 
  padding: 10px; }
#messages { list-style-type: none; margin: 5px; padding: 0; margin-top: 7vh; padding-bottom: 11vh}
#messages li { padding: 5px 10px; overflow: auto; }
#messages li:nth-child(odd) { background: #eee; }
#messages li:nth-child(even) { background: rgb(230, 235, 248); }